# any and all MSC files - dont need to have those
*MSC*
*RDPS*

# no netcdf files
*.nc

# dont need the station list 
allstn*

# no daily wind files - too large
/climatology/daily

# double check
*hrly_winddir*
*hrly_windspeed*